<section id="home" class="p-5">
  <div class="container">
    <h1 class="text-center">Bienvenue sur mon Portfolio</h1>
    <p class="text-center">
      Ceci est la page d'accueil. Nous allons y mettre un hero, du parallax, etc.
    </p>
  </div>
</section>